@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lobster);
.table-striped {
   box-shadow:2px 2px 3px #9acfea, -1px -1px 3px #CDCDFF;
}
.rank {
  font-size:18px;
  font-family : Open Sans;
  padding:5px;
  position: relative;
  display: block;
  width:90%;
  text-align:center;
  border-radius: 5px;
  box-shadow:2px 2px 3px , -1px -1px 3px #CDCDFF;
  background: #f2f2f2;
  color:#333;
  font-family:Oswald;
}

.text-my {
  color: #12fcff;
  }
.text-comp {
  color: #e5eaee;
  }
  .text-mech {
  color: #f7d978;
  }
  .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom:430px;
}
